name: CI

on:
  pull_request:

jobs:
  markdownlint:
    name: Markdownlint
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: reviewdog/action-markdownlint@3667398db9118d7e78f7a63d10e26ce454ba5f58 # v0.26.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          filter_mode: added
          fail_level: warning
          markdownlint_flags: "."

  marketplace-validation:
    name: Marketplace Validation
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: KeisukeYamashita/claude-code-marketplace-validator@1e132741093fe5a387c29ccc61f6554a5b645b23 # v1.0.1
